.katex-html {
    display: none;
}

.pd {
    margin: 0px 20%;
    padding: 10px 10%;

    height: inherit;

    background-color: #fff;
}

.pd h1 {
    color: #293f5f;
    font-size: 3.5rem;
    font-weight: bold;
}

.pd a {
    text-decoration: none;
    color: inherit;
}

.pd a:hover {
    text-decoration: none;
}