.katex-html {
    display: none;
}

.pd {
    margin: 100px 20%;
    padding: 30px 10%;
    border-radius: 20px;

    height: inherit;
    background-color: rgba($color: #fff, $alpha: 0.75);
}

.pd h1 {
    color: #293f5f;
    font-size: 3.5rem;
    font-weight: bold;
}

.pd a {
    text-decoration: none;
    color: inherit;
}

.pd a:hover {
    text-decoration: none;
}